body {
    font-family: sans-serif;
}

.header {
    display: flex;
    background: #f7f7f7;
    border: 1px solid #dddddd;
    margin-bottom: 1%;
    padding: 1%;
}

.summary {
    flex: 65%;
    padding-left: 2%;
    border-left: 1px solid #dddddd;
}

.instructions {
    flex: auto;
}

#layout {
    display: flex;
    flex-direction: column;
}

.bar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    margin-bottom: 10px;
}

#data-dropdown {
    font-size: 14px;
    font-weight: bold;
    padding: 5%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: lightblue;
}

#data-dropdown option {
    font-size: 14px;
}

#bar {
    flex: auto;
}

.map-row {
    display: flex;
}

#map {
    width: 60%;
}

#events {
    width: auto;
    margin-left: 5%;
    justify-content: right;
}


#event-detail {
    padding: 1%;
    min-height: 100px;
    flex: auto;
}

.footer {
    flex: auto;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #fafafa;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}


.tooltip {
    position: absolute;
    background: ivory;
    padding: 8px;
    border: 1px solid #cccccc;
    display: none;
}

.map-title,
.events-title,
.bar-title {
    font-size: 18px;
    font-weight: bold;
}

.y-axis,
.x-axis,
.legend-axis {
    font-size: 14px;
}
